{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "title__my_links" %}{% endblock %}

{% block css %}
  <link href="{% static 'css/homepage/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/card-style.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
  <script src="{% static 'js/qr_codes/copyText.js' %}"></script>
  <script src="{% static 'js/qr_codes/displayQRModalPreview.js' %}"></script>
  <script src="{% static 'js/qr_codes/deleteQRModal.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "includes/links_group.html" with links=links %}
{% endblock %}