{% load i18n %}

<dialog class="dialog dialog-slide-down" id="blockedDomainChange">
  <div class="dialog-header">
    <h1 class="dialog-title fs-lg">{% trans "change_blocked_domain_regex" %}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="dialog"></button>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="dialog-body">
      <input type="hidden" name="_method" value="patch" hidden="hidden">
      <input id="blockedDomainIdChange" name="id" type="hidden" value="" hidden="hidden">
      <input id="blockedDomainRegexOld" class="form-control" name="new_domain_regex" type="text" value="...">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn-outline theme-light" data-bs-dismiss="dialog">
        {% trans "Cancel" %}
      </button>
      <button type="submit" class="btn-outline theme-light">
        {% trans "Change" %}
      </button>
    </div>
  </form>
</dialog>