{% load i18n %}

<dialog class="dialog dialog-slide-down" id="deleteRedirect">
  <div class="dialog-header">
    <h1 class="dialog-title fs-lg">{% trans "are_you_sure" %}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="dialog"></button>
  </div>
  <div class="dialog-body">
    {% trans "this_action_cannot_be_undone" %}
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-outline theme-secondary" data-bs-dismiss="dialog">
      {% trans "Cancel" %}
    </button>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="_method" value="delete" hidden="hidden">
      <input id="redirectShortLink" name="short_link" type="hidden" value="" hidden="hidden">
      <button type="submit" class="btn-outline theme-danger">
        {% trans "Delete" %}
      </button>
    </form>
  </div>
</dialog>