{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "my_profile" %}{% endblock %}

{% block js %}
  <script src="{% static 'js/users/profile.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="text-center">{% trans "my_profile" %}</h1>
  <form class="d-flex flex-column col-12 md:col-9 lg:col-8 xl:col-7 2xl:col-6 mx-auto mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex flex-column sm:flex-row">
      <div class="d-flex flex-column align-items-center mb-3 sm:mb-0">
        <img id="avatar"
             src="{{ request.user.avatar_url }}" alt="{{ request.user.username }}"
             class="avatar rounded-circle cursor-pointer object-fit-cover"
        >
        {% if request.user.has_avatar %}
          <button type="button" id="delete_avatar" class="btn-outline theme-danger btn-sm mt-2">
            {% trans "delete_avatar" %}
          </button>
        {% endif %}
      </div>
      <div class="d-flex w-100 ms-0 sm:ms-4 flex-column">
        <div>
          {% for field in form %}
            <div class="form-group w-auto mb-2 {% if field.name == 'avatar' %}d-none{% endif %}">
              {% if "d-none" not in field.field.widget.attrs.class or "clearablefile" not in field.widget_type %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% endif %}
              <div class="input-group{% if field.errors %} has-validation{% endif %}">
                {{ field }}
                {% if field.name == "email" %}
                  <a class="btn-outline theme-secondary" href="{% url 'users:email_change' %}">
                    {% trans "change_email" %}
                  </a>
                {% endif %}
                {% if field.errors %}
                  <div class="invalid-feedback">
                    {{ field.errors|first }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <div class="d-flex gap-2 mt-4">
            <a class="btn-outline theme-secondary" href="{% url 'users:password_change' %}">{% trans "change_password" %}</a>
            <button id="submit_button" type="submit" class="btn-outline theme-secondary d-none">{% trans "save" %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}